@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1750px)
	/**/
	.rectangle
		.gray_rectangle
			height: 115px
			background-color: #b2aeab
			position: absolute
			top: 670px
			width: 90%
			right: 0
			z-index: 150
	.quote_wrap
		margin-top: 23px
		margin-left: 40px
		background-color: #eaeaea
		p
			width: 1100px
			padding: 30px 80px 30px 80px
			margin: 0
			font-family: roboto-lightItalic,sans-serif
			font-size: 18px

	.about
		margin-top: 50px
		.black_frame
			width: 58vw

		.page_num_2
		.bg_rectangle_green
			width: 45vw
		.black_frame_2
			width: 45vw
		.about_02
			h2
			.img_wrap
				img
			.long-p
		.about_3
			.img_wrap_2
				img
			.bg_rectangle_blue
				width: 33vw
			.black_frame_3
				width: 36vw
			.p_wrap_mobile

	
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.uto
		h1
			margin-top: 100px
			width: 800px
			margin-bottom: 10px
		h2
			width: 500px
			margin-bottom: 10px
		h3
			
	.rectangle
		.gray_rectangle
			height: 115px
			background-color: #b2aeab
			position: absolute
			top: 670px
			width: 90%
			right: 0
			z-index: 150
	.quote_wrap
		margin-top: 23px
		margin-left: 40px
		background-color: #eaeaea
		p
			width: 100%
			padding: 30px 30px 30px 50px
			margin: 0
			font-family: roboto-lightItalic,sans-serif
			font-size: 18px
	.about
		margin-top: 100px
		.black_frame
			width: 65vw
		.bg_frame
			width: 50px
		.img_slider
			img
				width: 80%
	.about
		h2
			margin-bottom: 10px
		margin-top: 50px
		.black_frame
			width: 60vw

		.page_num_2
		.bg_rectangle_green
			width: 45vw
		.black_frame_2
			width: 45vw
			height: 320px
		.about_02
			h2
			.img_wrap
				img
					width: 100%
			.long-p

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.uto
		h1
			margin-top: 100px
			font-size: 47px
			font-family: roboto-bold,sans-serif
			line-height: 50px

		h2
			font-size: 23px
			line-height: 50px
		h3
			font-size: 18px
			line-height: 25px
			width: 330px
	.first_screen
		background-image: url("../img/bg_1_tablet.png")
		min-height: 600px
		height: 650px
		nav
			ul
				li
					display: inline-block
					margin: 0 10px
		.callback_sm
			text-align: right
			width: 100px
			float: right
		.icons_vertical_sm
			float: right
			margin-bottom: 15px
			img
				padding-left: 7px
		.main_img
			img
				position: absolute
				width: 350px
				top: 0
		.mail_vertical
			top: -150px
			margin-top: 0
			position: absolute
			right: 0

	.rectangle
		display: block
		.gray_rectangle
			height: 115px
			background-color: #b2aeab
			position: absolute
			top: 565px
			width: 100%
			right: 0
			z-index: 150
	.quote_wrap
		margin-top: 23px
		margin-left: 40px
		background-color: #eaeaea
		p
			width: 100%
			padding: 30px 120px 30px 50px
			margin: 0
			font-size: 13px

	.about
		margin-top: 65px
		.blue_frame
			display: none
		.black_frame
			position: absolute
			height: 480px
			width: 60vw
			margin-top: 210px
			left: 0
			border-left: none
			z-index: 1
		.bg_frame
			display: none
		.img_slider
			margin-top: 167px
			margin-bottom: 0
		.page_num
			margin: 0
			margin-top: 100px

		.about_text_wrap
			margin: 0
			margin-top: -120px
			h2
				position: absolute
				top: -650px
				right: 30px
				margin: 0
			p
				margin: 0
				padding-bottom: 15px
		.slider_btns
			position: absolute
			top: -88px
			margin: 0
			right: 30vw
		
		.page_num_2
			margin-top: 43px
			left: 330px
		.bg_rectangle_green
			height: 300px
			width: 43vw
			margin-top: 43px
		.black_frame_2
			height: 235px
			width: 45vw
			margin-top: 95px
		.about_02
			h2
				margin-top: 30px
				margin-bottom: 20px
			.img_wrap
				position: relative
				margin-top: 70px
				img
					width: 365px
			.long-p
				width: 730px

		.about_3
			.img_wrap_2
				margin-left: -50px
				img
					height: 400px
					margin-top: -27px
			.bg_rectangle_blue
				margin-top: 0
				width: 38vw
			.black_frame_3
				margin-top: 50px
				width: 38vw
				height: 340px
			.p_wrap_mobile
				width: 410px
				


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.uto
		position: relative
		z-index: 10
		h1
			margin-top: 90px
			font-size: 47px
			font-family: roboto-bold,sans-serif
			width: 500px
			margin-bottom: 10px
		h2
			font-size: 23px
			line-height: 30px
			margin-bottom: 10px
			width: 500px
		h3
			font-size: 18px
			line-height: 25px
	.first_screen
		height: 600px
		.regular_nav
			display: none
		.callback_sm
			text-align: right
			width: 100px
			margin-top: -6px
		.icons_vertical_sm
			display: none
		.mail_vertical
			display: none
		.icons_vertical
			z-index: 10
			width: 20px
			display: block
			float: right
			margin-right: 50px
			margin-top: -300px
		.main_img
			img
				position: relative
				width: 350px
				top: 0
				right: 20px
				z-index: 1
	.hidden_menu
		position: absolute
		right: 50px
		background-color: #000
		text-align: right
		display: none
		top: 90px
		width: 250px
		z-index: 100
		padding: 20px 10px
		a
			font-size: 18px
			display: block
			font-family: roboto-light,sans-serif
			color: #fff
			padding: 10px
			&:hover
				background-color: #fff
				color: #000
	
	.rectangle
		display: block
		.gray_rectangle
			height: 115px
			background-color: #b2aeab
			position: absolute
			top: 520px
			width: 100%
			right: 0
			z-index: 150
		.quote_wrap
			margin-top: 23px
			margin-left: 20px
			background-color: #eaeaea
			p
				width: 100%
				padding: 25px 25px 25px 25px
				margin: 0
				font-size: 13px
				line-height: 15px

	.about
		margin-top: 50px
		.blue_frame
			display: none
		.black_frame
			position: absolute
			width: 75vw
			max-width: 550px
			height: 100%
			max-height: 640px
			margin-top: 210px
			left: 0
			border-left: none
			z-index: 1
		.bg_frame
			display: none
		.img_slider
			width: 100%
			margin-top: 180px
			margin-bottom: 0
			overflow: visible
			.sliders_item
				img
					max-width: 83vw
					max-height: 697px
		.page_num
			margin: 0
			margin-top: 100px

		.about_text_wrap
			margin: 0
			margin-top: 0px
			h2
				position: absolute
				top: -780px
				right: 30px
				margin: 0
			p
				margin: 0
				padding-bottom: 15px
		.slider_btns
			position: absolute
			right: 15vw
			top: -143px
			.btn_prev, .btn_next
				position: relative
				display: block
			.btn_prev
				left: 85px
				margin: 0
				width: 34px
				height: 34px
			.btn_next
				top: 7px
				left: 85px

		.page_num_2
			margin-top: 43px
			left: 330px
		.bg_rectangle_green
			height: 300px
			width: 43vw
			margin-top: 43px
		.black_frame_2
			height: 235px
			width: 45vw
			margin-top: 95px
		.about_02
			h2
				margin-top: 30px
				margin-bottom: 20px
			.img_wrap
				position: relative
				margin-top: 70px
				img
					width: 365px
			.long-p
				width: 640px
		.about_02_mobile
			display: none

		.about_3
			.img_wrap_2
				margin-left: -100px
				text-align: center
				img
					width: 60vw
					height: auto
					margin-top: -35px
			.bg_rectangle_blue
				margin-top: 0
				width: 65vw
				max-height: 350px
			.black_frame_3
				margin-top: 50px
				width: 65vw
				height: 60vw
				max-height: 450px
			.p_wrap_mobile
				width: 100%



/* Extra Small Devices, Phones */
@media only screen and (max-width : 670px)
	/**/
	.first_screen

		.main_img
			img
				position: absolute
				right: 0
	.about_02
		display: none
	.about	

		.black_frame
			margin-top: 205px
			max-height: 360px
			height: 53vw
			width: 48vw
			min-width: 100px
			
		.img_slider
			width: 100%
			margin-top: 180px
			margin-bottom: 0
			overflow: visible
			.sliders_item
				img
					max-width: 50vw
					max-height: auto
		.slider_btns
			position: absolute
			right: 50vw
		.page_num
			margin: 0
			margin-top: 100px

		.about_text_wrap
			margin: 0
			margin-top: -250px
			h2
				margin-top: 240px
		.about_02_mobile
			display: block
			h2
				margin-top: 30px
				margin-bottom: 0px
			.img_wrap
				position: relative
				float: right
				margin-top: 30px
				img
					width: 90vw
					margin-bottom: 20px
			.page_num_2
				margin-top: 43px
				left: 330px
			.bg_rectangle_green
				height: 60vw
				width: 75vw
				margin-top: 100px
			.black_frame_2
				height: 63vw
				max-height: 395px
				width: 85vw
				margin-top: 140px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 552px)
	/**/
	.first_screen
		background-image: url("../img/bg_1_mobile.png")
		.main_img
			img
				display: none
	.about
		.black_frame
			top: 0px

		.page_num
			margin: 0
			margin-top: 120px
		.slider_btns
			top: -95px
		.about_text_wrap
			margin: 0
			margin-top: -350px
			h2
				position: absolute
				top: -420px
				right: 30px
				margin: 0
		.about_02_mobile
			.black_frame_2
				height: 62vw
				max-height: 375px
				width: 80vw
				margin-top: 140px
		

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.uto
		h1
			font-size: 40px
			width: 90vw
		h2
			font-size: 20px
			width: 90vw
		h3
			width: 90vw
	.first_screen
		.main_img
			img
				display: none
		.callback_sm
			margin-right: -40px
		.icons_vertical
			z-index: 10
			width: 20px
			display: block
			float: right
			margin-right: 0px
			margin-top: -300px
	.hidden_menu
		position: absolute
		right: 0px
		background-color: #000
		text-align: right
		display: none
		width: 100%
		z-index: 100
		padding: 20px 30%
		text-align: center
	.about
		.black_frame
			top: 10px
			height: 80vw
			max-height: 400px
			width: 80vw
			min-width: auto
		.page_num
			margin: 0
			margin-top: 130px
		.slider_btns
			top: -115px
		.about_text_wrap
			margin: 0
			margin-top: -260px
			h2
				margin-top: -100px
		.img_slider
			margin-top: 200px
			position: relative	

			.sliders_item
				img
					max-width: 83vw
					max-height: 697px



		.slider_btns
			position: absolute
			margin-top: -30px
			right: 100px
		.about_02_mobile
			h2
				margin-top: 30px
				margin-bottom: 0px
			.img_wrap
				position: relative
				float: right
				margin-top: 30px
				img
					width: 90vw
					margin-bottom: 20px
			.page_num_2
				margin-top: 43px
				right: 0
				top: -30px
			.bg_rectangle_green
				height: 60vw
				width: 75vw
				margin-top: 150px
			.black_frame_2
				height: 64vw
				max-height: 375px
				width: 80vw
				margin-top: 140px
		.about_3
			.img_wrap_2
				text-align: center
				margin: 0

				img
					margin-top: 30px
					width: 300px
					height: auto
			.bg_rectangle_blue
				margin-top: 0
				width: 75vw
				max-height: 330px
			.black_frame_3
				margin-top: 50px
				width: 75vw
				height: 325px
				max-height: 450px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	.first_screen
		.callback_sm
			display: none
	.about
		.page_num
			margin-top: 150px
		.slider_btns
			top: -82px
		.about_text_wrap
			margin: 0
			margin-top: -390px
			h2
				margin-top: 50px
		.img_slider
			margin-top: 200px
			position: relative	

			.sliders_item
				img
					max-width: 83vw
					max-height: 697px
		.about_02_mobile
			h2
				line-height: 40px

			.img_wrap
				img
					width: 100vw
			.page_num_2
			.bg_rectangle_green
				height: 60vw
				width: 75vw
				margin-top: 125px
			.black_frame_2
				height: 64vw
				max-height: 375px
				width: 80vw
				margin-top: 150px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1980px)
	/**/
	.about
		.black_frame
			width: 56vw
		.about_02_mobile
			display: none
		.page_num_2
		.bg_rectangle_green
			width: 45vw
		.black_frame_2
			width: 45vw
		.about_02
			h2
			.img_wrap
				img
			.long-p	
		.about_3
			.black_frame_3
				width: 42vw
			.bg_rectangle_blue
				width: 42vw